@using AthleticsDocs.ViewModels.Students
@using DataAccess.Models
@model IndexViewModel

@{
    ViewBag.Title = "Create";
    Layout = "_Layout";
}

<h2>Create new student</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Student.Person.LastName" class="col-md-2 control-label">Last name</label>
            <div class="col-md-10">
                <input asp-for="Student.Person.LastName" class="form-control" />
                <span asp-validation-for="Student.Person.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.Person.FirstName" class="col-md-2 control-label">First name</label>
            <div class="col-md-10">
                <input asp-for="Student.Person.FirstName" class="form-control" />
                <span asp-validation-for="Student.Person.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.Person.MiddleName" class="col-md-2 control-label">Middle name</label>
            <div class="col-md-10">
                <input asp-for="Student.Person.MiddleName" class="form-control" />
                <span asp-validation-for="Student.Person.MiddleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.Person.Gender" class="col-md-2 control-label">Gender</label>
            <div class="col-md-10">
                <select asp-for="Student.Person.Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                <span asp-validation-for="Student.Person.Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.Person.BirthDate" class="col-md-2 control-label">Date of birth</label>
            <div class="col-md-10">
                <input asp-for="Student.Person.BirthDate" class="form-control" />
                <span asp-validation-for="Student.Person.BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.Person.Address" class="col-md-2 control-label">Address</label>
            <div class="col-md-10">
                <input asp-for="Student.Person.Address" class="form-control" />
                <span asp-validation-for="Student.Person.Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.RankId" class="col-md-2 control-label">Rank</label>
            <div class="col-md-10">
                <select asp-for="Student.RankId" asp-items="Model.Ranks"></select>
                <span asp-validation-for="Student.RankId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.CityId" class="col-md-2 control-label">City</label>
            <div class="col-md-10">
                <select asp-for="Student.CityId" asp-items="Model.Cities"></select>
                <span asp-validation-for="Student.CityId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.OrganizationId" class="col-md-2 control-label">Organization</label>
            <div class="col-md-10">
                <select asp-for="Student.OrganizationId" asp-items="Model.Organizations"></select>
                <span asp-validation-for="Student.OrganizationId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.GroupId" class="col-md-2 control-label">Group</label>
            <div class="col-md-10">
                <select asp-for="Student.GroupId" asp-items="Model.Groups"></select>
                <span asp-validation-for="Student.GroupId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
